package layouts

import "sekai/templates/partials"
import "sekai/data"

templ Default(content templ.Component, data *data.PageData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            @partials.CSS()
			<title>{ data.Title }</title>
		</head>
		<body>
			<div id="heading">
				@partials.Header()
			</div>
            <h1>From the layout</h1>
			<div id="contents">
				@content
			</div>
		</body>
	</html>
}
